<html>
<head>
	<title></title>
</head>
<body>

<h1> <%= @message.f_name + " "+ @message.l_name %> </h1>
<h3> Thank you for submitting your message. The oncall physician will interpret the issue / symptoms and contact you via phone call or text. Within (time in hours). Thank you for using Scovill Medicals On Call Service. </h3> 

</body>
</html>